.projects-main{
    margin: 5em auto;
    width: 100%;
}

.projects-main h1{
    text-align: center;
    text-transform: uppercase;
    color: rgb(199, 56, 31);
    font-size: 5em;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.projects-section{
    display: flex;
    width: 100%;
}

.projects-section .project-card{
    margin: 2em;
    background: chocolate;
    border: 1px solid chocolate;
}

ul.ant-card-actions{
    background: rgb(231, 126, 51);
}

@media only screen and (max-width: 468px) {
    .projects-section{
        display: block;
        width: 100%;
    }

    .projects-main h1{
        text-align: center;
        text-transform: uppercase;
        color: rgb(199, 56, 31);
        font-size: 3em;
        font-family: 'Orbitron', sans-serif;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .projects-section .project-card{
        margin: 2em auto;
    }
}