.about-main{
    width: 60%;
    margin: auto;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5em;
    letter-spacing: 2px;
    word-spacing: 10px;
}

.about-main h1{
    color: chocolate;
}


@media only screen and (max-width:468px) {
    .about-main{
        width:90%
    }

    .about-main h1{
        width: 100%;
        margin: auto;
        text-align:unset;
        font-family: 'Orbitron', sans-serif;
        font-size: 0.7em;
        color: chocolate;
        letter-spacing: 2px;
        word-spacing: 10px;
    }
}