.contact-main{
    width: 100%;
}

.contact-main h1{
    color: rgb(199, 56, 31);
    text-align: center;
    text-transform: uppercase;
    color: rgb(199, 56, 31);
    font-size: 3em;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.contacts-section{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: auto 50px;
    width: 60%;
    background: chocolate;
    font-size: 3em;
}

.contacts-section a{
    height: 2em;
}