@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

.header{
    padding: 8vh 0;
}

.welcome-head{
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    color: rgb(226, 85, 19);
    text-align: center;
    margin: 1vh 0;
    letter-spacing: 2px;
}

.my-intro{
    margin: 10vh 0;
    display: flex;
    justify-content: space-around;
}

.my-photo{
    width: 30%;
    border-radius: 50%;
    -webkit-box-shadow: 2px 3px 5px 6px rgb(231, 112, 15);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    2px 3px 5px 6px rgb(231, 112, 15);  /* Firefox 3.5 - 3.6 */
    box-shadow:         2px 3px 5px 6px rgb(231, 112, 15);
}

.info{
    display: block;
    margin: auto;
}

.typed-text{
    display: block;
    font-size: 1.5em;
    color: chocolate;
    text-align: right;
}

.my-name{
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    color: rgb(236, 56, 11);
    font-size: 4em;
    margin: auto 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
   }
  
  
.mouse_scroll {
      display: block;
      margin: 0 auto;
      width: 30px;
      height: 100px;
}
  
  
.m_scroll_arrows
  {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    border-right: 2px solid rgb(228, 138, 20);
    border-bottom: 2px solid rgb(228, 138, 20);
    margin: 0 0 2px 4px;
    width: 25px;
    height: 25px;
  }
  
  
  .unu
  {
    margin-top: 1px;
  }
  
  .unu, .doi, .trei
  {
      -webkit-animation: mouse-scroll 1s infinite;
      -moz-animation: mouse-scroll 1s infinite;
      animation: mouse-scroll 1s infinite;
    
  }
  
  .unu
  {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
    
    animation-direction: alternate;
    animation-delay: alternate;
  }
  
  .doi
  {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
    
    animation-delay: .2s;
    animation-direction: alternate;
    
    margin-top: -6px;
  }
  
  .trei
  {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;
    
    animation-delay: .3s;
    animation-direction: alternate;
    
    
    margin-top: -6px;
  }
  
  .mouse {
    height: 42px;
    width: 30px;
    border-radius: 14px;
    transform: none;
    border: 2px solid rgb(216, 70, 44);
    top: 170px;
  }
  
  .wheel {
    height: 5px;
    width: 3px;
    display: block;
    margin: 5px auto;
    background: rgb(192, 98, 21);
    position: relative;
    
    height: 10px;
    width: 4px;
    border: 2px solid rgb(214, 162, 19);
    -webkit-border-radius: 8px;
            border-radius: 8px;
  }
  
  .wheel {
    -webkit-animation: mouse-wheel 0.6s linear infinite;
    -moz-animation: mouse-wheel 0.6s linear infinite;
    animation: mouse-wheel 0.6s linear infinite;
  }
  
  @-webkit-keyframes mouse-wheel{
     0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      opacity: 0;
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @-moz-keyframes mouse-wheel {
    0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  @-o-keyframes mouse-wheel {
  
     0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  @keyframes mouse-wheel {
  
     0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  
  @-webkit-keyframes mouse-scroll {
  
    0%   { opacity: 0;}
    50%  { opacity: .5;}
    100% { opacity: 1;}
  }
  @-moz-keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
  @-o-keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
  @keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }

@media only screen and (max-width: 768px){
    .my-name{
        font-size: 5vh;
    }
}
  

@media only screen and (max-width: 328px){
    .welcome-head{
        font-size: 1em;
    }

    .my-intro{
        display: block;
    }

    .my-photo{
        display: block;
        width: 70%;
        margin: 5vh auto;
    }

    .my-name{
        display: block;
        width: 90%;
        margin: 5vh auto;
        font-size: 5vh;
    }

    .mouse_scroll{
        display: none;
    }
}

